html, body {
  margin: 0;
  padding: 0;
  outline: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;
  color: #616161;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Raleway', sans-serif; }

h4 {
  font-size: 2.18rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0; }

p, a, li, label, input, blockquote, cite, div {
  font-family: 'Muli', sans-serif; }

p {
  color: #757575; }

a {
  color: #1976D2; }
  a:hover {
    color: #2988e6;
    text-decoration: none; }
  a:focus {
    color: #12579b;
    text-decoration: none; }

h1 {
  font-weight: 700; }

h2, h3, h4 {
  font-weight: 600; }

h5, h6 {
  font-weight: 500; }

p, a, li {
  font-weight: 400; }

h6 {
  font-size: 1.4em; }